.overskrift2 {
  margin-left: 1.5rem;
  margin-top: 2rem;
}

/*Kategori side css*/
.brandlist ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center;
  list-style: none;
  margin-top: 8rem;
}

.brandlist a {
  text-decoration: none;
}

.brands {
  text-align: center;
  margin-top: 7rem;
}

header .mainnav ul {
  display: flex;
  gap: 2rem;
  list-style: none;
  justify-content: right;
  margin-right: 2rem;
}
