/*Index side css*/
.overskrift2 h2 {
  margin-left: 1.5rem;
  margin-top: 2rem;
}

/*Kategori side css*/
.brandlist ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center;
  list-style: none;
  margin-top: 8rem;
}

.brandlist a {
  text-decoration: none;
}

.brands {
  text-align: center;
  margin-top: 7rem;
}

header .mainnav ul {
  display: flex;
  gap: 2rem;
  list-style: none;
  justify-content: right;
  margin-right: 2rem;
}

/*Produkt side css*/

.info h1,
h2,
dl {
  margin-left: 9rem;
}

.info p {
  margin-left: 9rem;
}

.blacknetjersey img {
  width: 80%;
}

.purchasebox {
  display: grid;
  background: #d8d8d8;
  color: black;
  border-radius: 8px;
  width: 20%;
  text-align: center;
  margin-top: -17rem;
  margin-bottom: 10rem;
  margin-left: 43rem;
}

.purchasebox h3,
.purchasebox p {
  margin-left: -0rem;
}

.purchasebox .button {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/*Produktliste*/
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2.5rem;
  margin: 2rem;
}

.grid img {
  width: 100%;
}

.discounted {
  color: red;
}

h2 {
  margin-left: 6rem;
  margin-top: 5rem;
}

.readmore {
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

.soldoutbox {
  position: absolute;
  top: 80%; /* Position the box in the middle vertically */
  left: 85%; /* Position the box in the middle horizontally */
  transform: translate(-50%, -50%); /* Center the box precisely */
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  color: white;
  padding: 1px 110px;
  border-radius: 5px;
  width: 8%;
  z-index: 1;
}

.soldoutbox p {
  margin-left: 1.5rem;
}

.onsalebox {
  position: absolute;
  top: 2rem; /* Position the box in the middle vertically */
  left: 23rem; /* Position the box in the middle horizontally */
  transform: translate(-50%, -50%); /* Center the box precisely */
  background-color: rgb(255, 233, 106);
  color: rgb(242, 20, 20);
  padding: 20px 20px;
  border-radius: 5px;
  width: 2.5rem;
}

.smallProduct {
  position: relative;
}

.onsalebox {
  display: none;
}

article.sale .onsalebox {
  display: block;
}
