body {
  background-color: rgb(245, 241, 236);
}

a {
  color: black;
}

a:hover {
  color: rgb(116, 116, 158);
}

.mainnav a {
  text-decoration: none;
  font-size: 18px;
}

.mainnav ul {
  margin-top: 2rem;
}

header .mainnav ul {
  display: flex;
  gap: 2rem;
  list-style: none;
  justify-content: right;
  margin-right: 2rem;
}

/*Index side css*/
.overskrift2 h2 {
  margin-left: 1.5rem;
  margin-top: 10rem;
  text-align: center;
  font-size: 30px;
}

.nav ul {
  display: flex;
  gap: 4rem;
  place-content: center;
  margin-top: 8rem;
  font-size: 25px;
  list-style: none;
}

/*Kategori side css*/

.category {
  text-align: center;
  margin-top: 5rem;
  margin-bottom: -1rem;
}

.categorylist ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style: none;
  margin-top: 6rem;
  font-size: 20px;
}
.categorylist a {
  text-decoration: none;
}

.categorylist {
  margin-right: 2rem;
}

.box {
  display: flex;
  background-color: rgba(145, 177, 206, 0.397);
  border-radius: 2rem;
  height: 5rem;
  margin: 2rem;
  align-items: center;
  justify-content: center;
}

/*Produktliste*/
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2.5rem;
  margin: 2rem;
}

.grid img {
  width: 100%;
}

.discounted {
  color: red;
}

h2 {
  margin-left: 2rem;
  margin-top: 5rem;
  font-size: 30px;
}

.readmore {
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

/* discount + soldout */

.smallProduct {
  position: relative;
}

.onsalebox {
  position: absolute;
  top: 2rem; /* Position the box in the middle vertically */
  left: 23rem; /* Position the box in the middle horizontally */
  transform: translate(-50%, -50%); /* Center the box precisely */
  background-color: rgb(255, 233, 106);
  color: rgb(242, 20, 20);
  padding: 20px 20px;
  border-radius: 5px;
  width: 2.5rem;
}

.onsalebox {
  display: none;
}

article.sale .onsalebox {
  display: block;
}

article.soldout::after {
  content: "Sold Out";
  padding: 1em;
  background-color: grey;
  color: white;
  position: absolute;
  margin-top: -30rem;
  margin-left: 0.2rem;
  rotate: 10deg;
  width: 24rem;
  text-align: center;
  font-size: 18px;
}

/*produkt*/

.blacknetjersey img {
  width: 30%;
  margin-left: 4rem;
  margin-top: 4rem;
  margin-bottom: 5rem;
}

.grid_1-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 35em;
  margin-top: -40em;
  margin-bottom: 10rem;
}

.info h2 {
  margin-left: 0rem;
  margin-bottom: 2.5rem;
}

.info {
  margin-top: -0.5rem;
}

.info dd {
  margin-top: 0.5rem;
  margin-left: 1rem;
}
.info dt {
  margin-top: 2rem;
}

.info h1 {
  margin-top: 3rem;
}

.button {
  margin-top: 1.5rem;
}

.purchasebox {
  margin-top: 7rem;
  border: 2rem;
  background-color: rgba(95, 218, 234, 0.292);
  border-radius: 4rem;
  width: 20rem;
  height: 20rem;
  text-align: center;
  justify-content: baseline;
  font-size: 18px;
}

.purchasebox h3,
form {
  margin-top: 2.5rem;
}
